@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");

/* GLOBAL */

* { box-sizing: border-box}

body{
    
    margin: 0;
    padding: 0;
    font-family: 'Alfa Slab One';
}

a {
    color: rgba(182, 146, 81, 0.993);
}

h1 {
font-size: 48px;
text-transform: uppercase;
margin: 0;
}

/* HEADER */

header {
    background: grey;
    color: grey;
    padding: 2em 2em;
    
}

header a {
    text-decoration: none;
    color: rgb(209, 161, 71);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* SITE ID */
.site-id h1 {
    margin:0
}

/* SITE NAV */
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;

}

nav li {
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
}

/* FOOTER */
footer {
    border-top: 1px solid #ddd;
    max-width: 1000px;
    margin: 0 auto;
    text-decoration: none;
}
footer nav ul{
    justify-content: center;
    text-decoration: none;
}


/* MAIN */ 

main {
    padding: 0 0 3em 0;
    min-height: 80vh
}

/* SECTIONS */ 

section {
    padding: 3em 1em
}

/* HERO */
.hero {
    display: grid;
    align-content: center;
    text-align: center;
    background: orange;
    min-height: 50vh;
    color: grey;
}

.hero h2 {
    font-size: 6em;
    font-family: "Alfa Slab One";
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(165, 112, 77);
    margin: 0 auto
}

.hero p {
    max-width: 600px;
    margin: 1em auto;
    color: #000;
    text-shadow: 0px 0px 2px #eef;
}

.page-sub .hero h2 {
    font-family: "Special Elite";
    color: #888;
}
.page-sub .hero p {
    font-family: "Special Elite";
    color: #000;
}

/* LISTS */

.lists {
max-width: 1000px;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 1em;
}

@media (max-width:767px) {
    .lists{
        grid-template-columns: 1fr 1fr;
    }
}

/* SUB PAGES */

.page-sub .hero {
    background: orange;
    min-height: 30vh;
}
.page-home .hero {
    background-image: url('https://picsum.photos/id/1055/1600/800');
    background-size: cover;
    background-position: center center;
}

.page-blog .blog-entry p {
    font-family: "Special Elite";
}

/* BLOG Archives */

.blog-archives {
    max-width:600px;
    margin: 0 auto;
}

.blog-entry  {
    border: 1px solid #ddd;
    padding: 2em;
    margin: 2em 0;
}

.date {
    opacity: .5;
    font-size: .8em;
}